# Dependencias
node_modules/

# Build output
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno (IMPORTANTE cuando conectes el backend)
.env
.env.local
.env.*.local

# Editor / IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript build info
*.tsbuildinfo